/bin/
/bin/*
*.exe
*.out
sheep-farm-app-firebase-adminsdk-fbsvc-881b63938f.json
sheep-farm-app-firebase-adminsdk*.json
/pkg/
/vendor/

.idea/
.vscode/
*.swp
*.swo

*.log
*.test

/go-build/
/go-cache/

.env
.env.local

coverage.txt
profile.out