/bin/
/bin/*
*.exe
*.out
sheep-farm-app-firebase-adminsdk-fbsvc-881b63938f.json
sheep-farm-app-firebase-adminsdk*.json
/pkg/
/vendor/

.idea/
.vscode/
*.swp
*.swo

*.log
*.test

/go-build/
/go-cache/

.env
.env.local

coverage.txt
profile.out
node_modules/
front/node_modules/
front-react/node_modules/

# Node.js dependencies
node_modules/

# Vite output (or other frontend build tools)
dist/

# IDE and system files
.vscode/
.DS_Store
*.log

# Environment variables
.env
.env.local

# Parcel or other cache folders
.parcel-cache/
.cache/

